form h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Plus Jakarta Sans';
    color: #254F25;
    text-shadow: 0 0 4px black;
}

form {
    display: flex;
    flex-direction: column;
}

.agregar .editar {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.input__agregar .input__editar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 10px;
}