form h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Plus Jakarta Sans';
    color: #254F25;
    text-shadow: 0 0 4px black;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.editar {
    width: 400px;
    background: #577A57;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #FFF5BE;
    box-shadow: 7px 13px 37px #000;

}

.input__editar {
    width: 100%;
    background: #577A57;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #254F25;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    color: #FFF5BE;
}

.editar__button {
    width: 100%;
    background: #254F25;
    border: none;
    padding: 12px;
    color: #FFF5BE;
    margin: 16px 0;
    font-size: 16px;
}

input {
    outline: none;
}

input:focus {
    border: 3px solid #106510;
}

input::placeholder {
    color: #FFF5BE;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -2px;
    color: green;
    background: white;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}