@import url(../../tipografia/Nostalgia.otf);
@import url(../../tipografia/PlusJakartaSans-Italic-VariableFont_wght.ttf);

body {
    font-family: 'Nostalgia', 'Plus Jakarta Sans';
    margin: 0;
    background-color: #577A57;
    background-size: cover;
    background-attachment: fixed;
}


.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #FFFCEE;
    margin-top: 150px;
    padding: 3px;
    margin: 40px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #254F25;
    font-size: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #aaa;
}

.icon {

    min-width: 40px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: #FFF7D7;
    font-size: 10px;
    background: #254F25;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #173017;
}

p {
    text-align: center;
    font-size: 8px;
}

.link {
    text-decoration: none;
    color: #254F25;
    font-weight: 400;
}

.link:hover {
    color: #173017;
}

@media(min-width:768px) {
    .contenedor {
        width: 100%;
        padding: 15px;
    }

    .formulario {
        background: #FFFCEE;
        width: 600px;
    }

    h1 {
        text-align: center;
        color: #254F25;
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        font-size: 20px;
        width: 100%;
        padding: 10px;
        border: none;
    }


    .input-contenedor {
        margin-bottom: 13px;
        border: 1px solid #aaa;
    }

    .link {
        font-weight: 600;
    }
}