.prendas {
    background: #FFFEF8;
    width: 100%;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-right: 1rem;

}

@media screen and (min-width: 768px) {
    .prendas {
        margin-right: 2.5rem;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .prendas {
        margin-right: 5rem;
        width: 100%;
    }

}