.prenda__imagen {
    height: 150px;
    width: 150px;
}

@media screen and (min-width: 768px) {
    .prenda__imagen {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .prenda__imagen {
        height: 400px;
        width: 400px;
    }
}