footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #173017;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #FFF7D7;
}

.footer__titulo {
    font-family: "Nostalgia";
}

.footer__descripcion {
    font-family: "Plus Jakarta Sans", Italic;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 5px;
}



.footer-bottom {
    background: #0C190C;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 100;
}

.footer__carrito {
    position: absolute;
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 10px;
    }

    .footer-content h3 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .footer-content p {
        max-width: 500px;
        margin: 5px auto;
        line-height: 20px;
        font-size: 10px;
    }

    .socials {
        margin: 0.5rem 0 1rem 0;
    }

    .socials li {
        margin: 0 5px;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-bottom p {
        font-size: 10px;
    }

    .footer-bottom span {
        font-weight: 100;
    }
}