.prendas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7D7;
    gap: 10px;
    margin: 30px 0;
}

.prenda__titulo {
    font-family: 'Plus Jakarta Sans', Italic;
    font-size: 1rem;
}

.prenda__boton {
    background: #254F25;
    border: none;
    font-family: 'Plus Jakarta Sans';
    border-radius: 5px;
    color: #FFF7D7;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
}

.prenda__boton:hover {
    cursor: pointer;
    background: #173017;
}

.prenda__contenido {
    margin: 10px;
}

.prenda__precio {
    font-family: 'Plus Jakarta Sans';
    font-size: 0.5rem;
    color: #0C190C;
}



.img__container {
    position: relative;
}

.iconos {
    position: absolute;
    top: 0;
    right: 0;
}

.remera {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: #0C190C solid 1px;
    overflow: hidden;
}

.prenda__imagen {
    height: 150px;
    width: 150px;
}




@media screen and (min-width: 768px) {
    .prenda__imagen {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .prenda__imagen {
        height: 300px;
        width: 300px;
    }
}